.border-left-primary { border-left: 4px solid #4e73df !important; }
.border-left-success { border-left: 4px solid #1cc88a !important; }
.border-left-warning { border-left: 4px solid #f6c23e !important; }
.border-left-info { border-left: 4px solid #36b9cc !important; }
.border-left-secondary { border-left: 4px solid #858796 !important; }
.border-left-danger { border-left: 4px solid #e74a3b !important; }
.border-left-dark { border-left: 4px solid #5a5c69 !important; }
